# This is an example .env file. You can copy this to .env and fill in the values as needed.

# Database connection
DATABASE_URL=postgresql://postgres:your_password@localhost:5432/power-paint-db?schema=public&sslmode=disable

# Google OAuth credentials
AUTH_GOOGLE_ID=GOOGLE_CLIENT_ID_PLACEHOLDER
AUTH_GOOGLE_SECRET=GOOGLE_CLIENT_SECRET_PLACEHOLDER

# GitHub OAuth credentials
AUTH_GITHUB_ID=GITHUB_CLIENT_ID_PLACEHOLDER
AUTH_GITHUB_SECRET=GITHUB_CLIENT_SECRET_PLACEHOLDER

# NextAuth secret and URL
AUTH_SECRET=NEXTAUTH_SECRET_PLACEHOLDER
AUTH_URL=http://localhost

# Secret for signing WebSocket tokens
WS_TOKEN_SECRET=YOUR_WS_TOKEN_SECRET_PLACEHOLDER

# Base URLs
NEXT_PUBLIC_WS_URL=ws://localhost/api/socket
NEXT_PUBLIC_BASE_URL=http://localhost
NEXT_PUBLIC_BASE_DEPLOY_URL=http://your.domain.here

# Email configuration
# For production use real SMTP server credentials
EMAIL_HOST=smtp.mail.ru
EMAIL_PORT=465
EMAIL_LOGIN=YOUR_EMAIL_LOGIN_PLACEHOLDER
EMAIL_PASSWORD=YOUR_EMAIL_PASSWORD_PLACEHOLDER

# For e2e testing with Mailhog
# EMAIL_HOST=mailhog
# EMAIL_PORT=1025
# EMAIL_LOGIN=test@powerpaint.local
# EMAIL_PASSWORD=test

# React Query Devtools
REACT_QUERY_DEVTOOLS_ENABLED=true

# Node environment
NODE_OPTIONS="--dns-result-order=ipv4first"
NODE_ENV=development
WEB_PORT=3000