# This is an example .env file. You can copy this to .env and fill in the values as needed.

# Database connection string
DATABASE_URL="postgresql://postgres:qwerty123@localhost:5432/power-paint-server"

# Backend URL
BACKEND_URL=http://localhost:3001/api

# Google OAuth credentials
GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID_PLACEHOLDER
GOOGLE_CLIENT_SECRET=GOOGLE_CLIENT_SECRET_PLACEHOLDER

# GitHub OAuth credentials
GITHUB_CLIENT_ID=GITHUB_CLIENT_ID_PLACEHOLDER
GITHUB_CLIENT_SECRET=GITHUB_CLIENT_SECRET_PLACEHOLDER

# NextAuth secret and URL
NEXTAUTH_SECRET=NEXTAUTH_SECRET_PLACEHOLDER
NEXTAUTH_URL=http://localhost:3000